@import "./normalize.css"
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

//-------------------Mixins---------------
title()
  font-family 'Nunito Sans', sans-serif
  font-size 40px
  line-height 41px
  letter-spacing 0.03em
  font-weight 400
  color #2B2B2B
  opacity 32%
text()
  font-family 'Nunito Sans', sans-serif
  font-size 18px
  line-height 26px
  letter-spacing 0.03em
  font-weight 300
  margin-top 23px
  color #2B2B2B
style_footer_a()
  font-family 'Nunito Sans', sans-serif
  font-weight 400
  font-size 16px
  line-height 38px
  letter-spacing 0.03em
  text-decoration none
  color #2B2B2B
style_footer_1()
  font-family 'Nunito Sans', sans-serif
  font-weight 300
  font-size 14px
  line-height 19px
  letter-spacing 0.05em
  color #C4C4C4
style_1()
  text-decoration none
  font-family 'Nunito Sans', sans-serif
  font-weight 700
  font-size 14px
  line-height 19px
  letter-spacing 0.03em
  color #2C75FF
style_2()
  text-decoration none
  font-family 'Nunito Sans', sans-serif
  font-weight 400
  font-size 13px
  line-height 17px
  letter-spacing 0.03em
  color #2B2B2B
style_3()
  font-family 'Nunito Sans', sans-serif
  font-weight 700
  font-size 13px
  line-height 18px
  letter-spacing 0.03em
  color #2B2B2B
style_4()
  text-decoration none
  font-family 'Nunito Sans', sans-serif
  font-weight 400
  font-size 14px
  line-height 18px
  letter-spacing 0.03em
  color #2B2B2B
style_5()
  font-family 'Nunito Sans', sans-serif
  font-weight 600
  font-size 12px
  line-height 15px
  letter-spacing 0.03em
style_6()
  color #2B2B2B
  font-family 'Nunito Sans', sans-serif
  font-weight 400
  font-size 15px
  line-height 19px
  letter-spacing 0.03em
style_7()
  font-family "Nunito Sans", sans-serif
  font-weight 400
  font-size 11px
  line-height 14px
  letter-spacing 0.03em
  color #ffffff
style_col_prod()
  font-family 'Nunito Sans', sans-serif
  font-weight 400
  font-size 15px
  line-height 19px
  letter-spacing 0.03
  text-decoration none
style_h2()
  font-family 'Nunito Sans', sans-serif
  font-weight 700
  font-size 20px
  line-height 27px
  letter-spacing 0.03em
  color #2B2B2B
placeholder()
  font-family 'Nunito Sans', sans-serif
  font-weight: 400
  font-size 16px
  line-height 22px
  letter-spacing 0.03em
  color #2B2B2B
  padding-left 3px
rectangle()
  width 25px
  height 25px
  border 1px solid #CECECE
  border-radius 50%
  margin-left 11px
strong()
  font-family 'Nunito Sans', sans-serif
  font-weight 700
  font-size 16px
  line-height 22px
  letter-spacing 0.03em
strong-2()
  text-decoration none
  font-family 'Nunito Sans', sans-serif
  font-weight 700
  font-size 18px
  line-height 24px
  letter-spacing 0.03em
style_flex()
  display flex
  align-items center
  justify-content space-between

dom_3_a()
  color #2C75FF
  font-family 'Nunito Sans', sans-serif
  font-weight 600
  font-size 11px
  line-height 15px
  letter-spacing 0.03em
  text-decoration none
dom_4()
  color #2B2B2B
  font-family 'Nunito Sans', sans-serif
  font-weight 400
  font-size 18px
  line-height 23px
  letter-spacing 0.03em
//-------------------popUp---------------------

.open_pop_up
  font-family 'Nunito Sans', sans-serif
  font-size 13px
  font-weight 400
  line-height 18px
  letter-spacing 0.03em
  color #2B2B2B
.popUp_wrapper
  style_flex()
  justify-content center
.pop_up
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  background-color transparent
  z-index 2
  transform translateY(-45.5%) scale(0)
  transition all .4s ease
.pop_up.active
  transform translateY(0%) scale(100%)
  background-color rgba(0, 0, 0, .7)
.pop_up_container
  display: flex
  width: 100%
  height: 100%
.pop_up_body
  margin auto
  max-width 700px
  background-color white
  border-radius 6px
  text-align center
  padding 50px
  position relative
.popup_title
  font-family "Nunito Sans", sans-serif
  line-height 30px
  font-weight 700
  text-align center
  font-size 1.5rem
  margin-bottom 30px
  color #2B2B2B
.content
  width inherit
  //border 1px solid black
  &_name
    width 100%
    min-height 50px
    font-family 'Nunito Sans', sans-serif
    font-size 14px
    font-weight 500
    outline 1px solid lightgray
    margin-bottom 10px
    padding-left 10px
  &_tel
    width 100%
    min-height 50px
    font-family 'Nunito Sans', sans-serif
    font-size 14px
    font-weight 500
    outline 1px solid lightgray
    margin-bottom 10px
    padding-left 10px
  &_description
    min-height 150px
    width 100%
    font-family 'Nunito Sans', sans-serif
    font-size 14px
    font-weight 500
    outline 1px solid lightgray
    resize: vertical;
    padding-left 10px
  &_mail
    width 100%
    min-height 50px
    font-family 'Nunito Sans', sans-serif
    font-size 14px
    font-weight 500
    outline 1px solid lightgray
    margin-bottom 10px
    padding-left 10px
.send_director
  background #2c75ff
  padding 7px 20px
  color white
  cursor pointer
  border-radius 3px
  margin-top 10px
.send_director:hover
  background #2c41ff
.pop_up_close
  position absolute
  top 5px
  right 15px
  cursor pointer
  font-size 25px
  font-weight bold
  color #2B2B2B
  font-family 'Nunito Sans', sans-serif
  text-decoration none

//-------------------------------------------------------------------------
*
  padding 0
  margin 0
  box-sizing border-box
.main_wrapper
  max-width 1920px
  margin 0 auto
.header_container_top_box_1_contact
  width 500px
  height 70px
  style_flex()
  &_box_1
    width 66px
    height 30px
    display flex
    align-items center
    justify-content space-between
  &_box_2
    width 162px
    height 50px
    style_flex()
    flex-direction column
    &_tel
      style_flex()
      justify-content center
      width inherit
      height 19px
      &>a
        style_1()
      &_d
        style_flex()
        justify-content center
        width inherit
        height 19px
        margin-bottom 6px
        &>a
          style_2()
  &_box_3
    display flex
    flex-wrap wrap
    width 245px
    height 50px
    &>p
      style_2()
strong
  style_3()
.header
  position relative
  display flex
  justify-content center
  width 100%
  border-bottom 1px solid #CECECE
  &_container
    width 1725px
    height inherit
    margin 0 auto
    padding-top 10px
    display flex
    flex-direction column
    justify-content space-between
    flex-wrap wrap
    &_top
      display flex
      justify-content space-between
      width inherit
      height 153px
      &_box_1
        width 564px
        height inherit
        display flex
        flex-wrap wrap
        &_items
          width inherit
          height 25px
          style_flex()
          &>p
            style_3()
          &>a
            style_3()
          &>a:hover
            text-decoration underline
      &_box_2
        display flex
        justify-content center
        width 300px
        height inherit
        &>img
          height 122px
.header_container_top_box_3
  width 544px
  height inherit
  &_items
    style_flex()
    &>a
      style_3()
      font-weight 400
      display flex
      align-items center
.arrow_down
  margin-left 3px
.search_box_main
  width inherit
  height 85%
  style_flex()
  justify-content center
  &_container
    display flex
    &>a
      margin-left  20px
.search_form
  position relative
  &_search
    width 338px
    height 54px
    border-radius 40px
    display inline-block
    font-family 'Nunito Sans', sans-serif
    padding: 0 10px
    outline none
    border none
    background #F5F5F5
    padding-left 22px
    font-size 16px
    &_img
      position absolute
      width 45px
      height 45px
      top 5%
      right 3%

.search_form_search::placeholder
  placeholder()
.header_container_bottom_1
  width 100%
  min-height 56px
  background  #F5F5F5
  style_flex()
  padding 0 10px
  &_allBrands
    style_flex()
    &>a
      style_1()
      color #2B2B2B
      display flex
      align-items center
      &>img
        width 10px
        height 10px
        margin-left 6px
        margin-right 54px
    &>a:last-child
      margin-top 4px
  &_alphabet
    &>a
      margin-right 48px
      style_1()
      color #2B2B2B
    &>a:last-child
      margin 0
  &>a
    style_1()
    color #2B2B2B
  &>a:last-child
    margin-top 4px
.header_container_bottom_2
    style_flex()
    height 56px
    &_item-left
      width 656px
      style_flex()
      &>a
        style_1()
        font-size 15px
        line-height 21px
        text-decoration none
        color #2B2B2B
.header_container_bottom_2_item-right
    max-width 564px
    style_flex()
    &>a
      display flex
      align-items center
      style_3()
      color #2c75ff
      &>img
        margin-right 5px
        height 27px
    &>a:first-child
      style_1()
      font-size 15px
      line-height 21px
      color #2B2B2B
      margin-right 36px
    &>a:nth-child(2)
      margin-right 33px

//------------------------section_1----------------------------

.section_1
  width inherit
  min-height 75px
  style_flex()
  &_container
    width 1725px
    height inherit
    margin 0 auto
    &>strong
      strong()
    &>a
      style_3()
      font-weight 400


//------------------------section_2----------------------------

.section_2
  width 100%
  style_flex()
  justify-content center
  &_container
    width 1725px
    display flex
  &_sidebar
    max-width 425px
    align-items normal
    justify-content center
    &_container
      max-width 325px
      min-height inherit
      border-right 1px solid #CECECE
      padding-right 40px
      &_box_1
        max-width inherit
        min-height 161px
        border-bottom 1px solid #CECECE
        &_p1
          style_flex()
          max-width 282px
          min-height 31px
          margin-top 13px
          &>a
            style_4()
            &>span
              color #C4C4C4
              margin-left 8px
        &_p2
          style_flex()
          max-width 272px
          min-height 36px
          margin-top 13px
          border-radius 3px
          &_a
            max-width 131px
            min-height 35px
            style_flex()
            justify-content center
            background #F5F5F5
            padding 0 10px
            &>a
              style_2()
              &>span
                color #C4C4C4
                margin-left 8px
          &_b
            max-width 131px
            min-height 35px
            style_flex()
            justify-content center
            background #F5F5F5
            border-radius 3px
            padding 0 10px
            &>a
              style_2()
              &>span
                color #C4C4C4
                margin-left 8px
.section_2_sidebar_container_box_2
  max-width 282px
  min-height 191px
  border-bottom 1px solid #CECECE
  &_h1
    width inherit
    min-height 31px
    style_flex()
    margin-top 15px
    &>strong
      strong()
    &>a
      color #2C75FF
      text-decoration none
    &_a
      mxa-width 282px
      min-height 21px
      margin-top 10px
      style_flex()
      &>a
        style_4()
        line-height 19px
      &>a:hover
        text-decoration underline
      &>p
        style_4()
        color #959595
        line-height 19px
.section_2_sidebar_container_box_3
  max-width 282px
  min-height 233px
  border-bottom 1px solid #CECECE
  &_h1
    style_flex()
    width inherit
    min-height 31px
    margin-top 15px
    &>strong
      color #2B2B2B
      strong()
    &>a
      text-decoration none
      color #C4C4C4
.section_2_sidebar_container_box_3_check
  max-width 282px
  min-height 24px
  style_flex()
  margin-top 10px
  style_4()
  line-height 19px
  color #959595
.check      // label
  style_flex()
  justify-content left
  max-width 200px
  margin-left 30px
  color #2B2B2B
  cursor pointer
.check_input    // Браузерный чек бокс
  -webkit-appearance none
  -moz-appearance none
  appearance none
  position absolute
.check_input:checked + .check_box
  background-image url("@/img/check_box_checked.png")
  background-size cover
.check_box    // кастомный чекбоск
  display flex
  align-items center
  justify-content center
  width 23px
  height 23px
  border 1px solid #CECECE
  background-image url("@/img/check_box_1.png")
  margin-left -30px
  margin-right 15px
  &>p
    style_1()
    font-weight 400
.section_2_sidebar_container_box_3_next
  width inherit
  min-height 25px
  margin-top 19px
  &>a
    text-decoration none
    color #2C75FF
.section_2_sidebar_container_box_4
  width inherit
  height 164px
  border-bottom 1px solid #CECECE
  &_price-h1
    width inherit
    height 31px
    style_flex()
    margin-top 15px
    &_a1
      display flex
      align-items center
      justify-content space-between
      width 115px
      height 25px
      &>strong
        strong()
      &>p
        placeholder()
    &>a
      text-decoration none
      color #C4C4C4
  &_min-max_price
    width inherit
    height 41px
    style_flex()
    margin-top 7px
    &_MIN-MAX
      style_4()
      width 127px
      height 41px
      border 1px solid #C4C4C4
      border-radius 20px
      style_flex()
      justify-content center
.section_2_sidebar_container_box_4_min-max_price_range
  width inherit
  height 40px
  style_flex()
  justify-content center
  margin-top 15px
  &_slide-container
    width 282px
.slider
  width 282px
  height 2px
.section_2_sidebar_container_box_5
  width inherit
  height 365px
  border-bottom 1px solid #CECECE
  &_color_h1
    width inherit
    height 31px
    style_flex()
    margin-bottom 12px
    margin-top 15px
    &>strong
      strong()
    &>p
      color #C4C4C4
    &_d
      width 120px
      height 39px
      display flex
      align-items center
      margin-bottom 12px
      border-radius 28px
      &>a
        style_4()
        line-height 19px
        margin-left 6px
      &>a:hover
        color #2C75FF
    &_d:hover
      background #F5F5F5
.rectangle_white
  rectangle()
  background white
.rectangle_black
  rectangle()
  background black
.rectangle_blue
  rectangle()
  background #2C75FF
.rectangle_beige
  rectangle()
  background #E3A77E
.rectangle_red
  rectangle()
  background #CE0D2D
.rectangle_gray
  rectangle()
  background #727272
.section_2_sidebar_container_box_6
  width inherit
  min-height 361px
  &_items
    width inherit
    height 51px
    style_flex()
    border-bottom 1px solid #CECECE
    &>strong
      strong()
      color #2b2b2b
    &>a
      display flex
      align-items center
    &>img
      width 14px
      color #C4C4C4
.section_2_sidebar_container_box_7
  width inherit
  height 50px
  margin-top 26px
  &_button
    width inherit
    height 50px
    style_flex()
    justify-content center
    background #2c75ff
    placeholder()
    line-height 20px
    color white
    &>span
      color white
      strong()
      line-height 20px

//--------------------content----------------------

.section_2_content
  max-width 1351px
  margin-left 44px
  &_box_1
    width inherit
    height 174px
    display flex
    flex-direction column
    justify-content space-between
    &_title
      width inherit
      display flex
      align-items center
      title()
    &_text
      width inherit
      height 110px
      text()
  &_box_2
    width inherit
    min-height 266px
    style_flex()
    margin-top 56px
    &_container_1
      max-width 889px
      height inherit
    &_container_2
      max-width 427px
      height inherit
  &_box_3
    width inherit
    min-height 100px
    display flex
    flex-wrap wrap
    align-items center
    margin-top 43px
    &>a
      width 160px
      height 41px
      background #F5F5F5
      text-decoration none
      style_flex()
      justify-content center
      style_1()
      line-height 18px
      color #2B2B2B
      margin-right 19px
    &>a:last-child
      margin-right 0
    &>a:nth-child(3n-3)
      width 96px
      height 41px
      background #F5F5F5
  &_box_4
    width inherit
    height 41px
    style_flex()
    margin-top 43px
    &_line
      width 676px
      height 1px
      background  #CECECE
    &_category
      width 204px
      height 41px
      border 1px solid #C4C4C4
      border-radius 40px
      style_flex()
      justify-content center
      style_4()
      &>img
        margin-left 3px
        margin-top -3px
    &_settings
      width 428px
      height 41px
      display flex
      &_col
        style_flex()
        justify-content center
        width 214px
        height 41px
        style_col_prod()
        color white
        background #2B2B2B
        border-radius 40px 0 0 40px
        &>span
          font-weight 700
      &_prod
        style_flex()
        justify-content center
        width 214px
        height 41px
        border 1px solid #CECECE
        border-radius 0 40px 40px 0
        style_col_prod()
        color #2B2B2B
        &>span
          font-weight 700
  &_box_5
    width 100%
    flex-wrap wrap
    style_flex()
    &_card
      width 427px
      margin-top 43px
      &_dom_1
        width inherit
        height 31px
        display flex
        &_a
          width 50px
          height inherit
          background #2C75FF
          style_flex()
          style_5()
          color #FFFFFF
          justify-content center
        &_b
          width 84px
          height inherit
          background #2B2B2B
          style_flex()
          justify-content center
          style_5()
          color #FFFFFF
        &_c
          width 52px
          height inherit
          background #CECECE
          style_5()
          color #2C75FF
          style_flex()
          justify-content center
      &_dom_2
        width inherit
        height 359px
      &_dom_3
        width inherit
        height 25px
        style_flex()
        background #F5F5F5
        margin-bottom 20px
        &>a
          dom_3_a()
          margin-left 21px
          display flex
          align-items center
          &>img
            width 8px
            height 5px
            margin-right 7px
        &_left-box
          width 163px
          height inherit
          //border 1px solid black
          background #2b2b2b
          style_flex()
          padding 0 7px
          style_7()
          &>img
            margin-bottom 1px
      &_dom_4
        width inherit
        height 30px
        display flex
        align-items center
        margin-bottom 12px
        dom_4()
        margin-left 21px
      &_dom_5
        width inherit
        height 51px
        style_flex()
        &_style
          width 142px
          height 37px
          margin-left 21px
          style_2()
          &>span
            font-weight 700
        &_medal
          style_flex()
          width 116px
          height 51px
          margin-right 86px
          &>img
            width 51px
            height 51px
      &_dom_6
        width inherit
        height 50px
        display flex
        margin-top 22px
        &_a
          width 263px
          height 50px
          display flex
          align-items center
          style_6()
          margin-left 21px
          &>span
            font-weight 700
        &_b
          width 164px
          height 51px
          border 1px solid #CECECE
          style_flex()
          justify-content center
          color #2B2B2B
          style_6()
  &_box_6
    width inherit
    height 25px
    style_flex()
    justify-content center
    margin-top 64px
    &>a
      width 155px
      style_flex()
      strong-2()
      color #2B2B2B
      &>img
        width 18px
  &_box_7
    width inherit
    height 48px
    style_flex()
    justify-content center
    margin-top 49px
    &_container
      width 355px
      min-height 48px
      style_flex()
      &_arrow
        width 42px
        height 42px
        border 1px solid #C4C4C4
        border-radius 50%
        display flex
        align-items center
        justify-content center
      &_arrow:hover
        background #2C75FF
        border 1px solid transparent
      &_pagination
        width 47px
        height 47px
        border 1px solid transparent
        border-radius 50%
        style_flex()
        justify-content center
        font-family 'Nunito Sans', sans-serif
        font-weight 700
        font-size 20px
        line-height 25px
        letter-spacing 0.03em
        color #2B2B2B
        text-decoration none
      &_pagination:hover
        background #F5F5F5
        color #2c75ff
  &_box_8
    width inherit
    height 1px
    background #CECECE
    margin-top 102px
  &_box_9
    width inherit
    height 317px
    margin-top 81px
    &>h2
      style_h2()
      margin-bottom 25px
    &>p
      width 878px
      font-family 'Nunito Sans', sans-serif
      font-weight 300
      font-size 16px
      line-height 28px
      letter-spacing 0.03em
      color #2B2B2B
.footer
  width 100%
  margin-top 112px
  &_bottom
    width inherit
    background #2B2B2B
    padding 34px 0
    &_container
      max-width 1725px
      height inherit
      margin 0 auto
      display flex
      flex-wrap wrap
      justify-content space-between
      &_box_1
        max-width 529px
        height inherit
        display flex
        align-items center
        flex-wrap wrap
        &_content
          width inherit
          border-right 1px solid #C4C4C4
          style_flex()
          flex-wrap wrap
          style_footer_1()
          padding-right 59px
          &>a
            style_footer_1()
            margin-left 35px
          &>img
            margin-right 58px
      &_box_2
        width 500px
        height inherit
        style_flex()
        &_content
          width inherit
          style_flex()
          flex-wrap wrap
          style_footer_1()
          &>a
            style_footer_1()
            text-decoration none

      &_box_3
        max-width 666px
        height inherit
        style_flex()
        justify-content center
        flex-wrap wrap
        border-left 1px solid #C4C4C4
        padding-left 45px
        &_content
          width inherit
          //border 1px solid white
          style_flex()
          flex-wrap wrap
          style_footer_1()

          &_logo
            style_flex()
            max-width 332px
            height inherit
            margin-left 15px
            &_box_1
              width 131px
              height 22px
              border-right 2px solid #C4C4C4
            &_box_2
              width 201px
              font-family 'Nunito Sans', sans-serif
              font-weight 600
              font-size 9px
              margin-left 10px
              line-height 13px
              text-transform uppercase
  &_container
    max-width 1725px
    height inherit
    border-top 1px solid #C4C4C4
    margin 0 auto
    style_flex()
    flex-wrap wrap
    padding 63px 0

    &_table_one
      width 300px
      &>a
        strong()
        color #2B2B2B
        display flex
        flex-wrap wrap
        width 100%
      &>a:first-child
        margin-bottom 18px
.box_socseti
  margin-top 32px
  &>a
    margin-right 16px
.address
  placeholder()
  margin-top 30px
  &>span
    strong()
    letter-spacing 0.05em
.hours
  strong()
  color #2B2B2B
.footer_container_table_two
    width 300px
    display flex
    flex-wrap wrap
    flex-direction column
    &>p
      width 100%
      strong()
      margin-bottom 10px
    &>a
      width 100%
      style_footer_a()
.footer_container_table_three
  width 300px
  display flex
  flex-wrap wrap
  flex-direction column
  &>p
    width 100%
    strong()
    margin-bottom 10px
  &>a
    width 100%
    style_footer_a()
.footer_container_table_four
    width 300px
    &_soc_seti_2
      style_footer_a()
    &_soc_seti_2_img
      display flex
      align-items center
      &>a
        margin-right 31px
    &_pay
      style_footer_a()
      margin-top 45px