@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.open_pop_up {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.popUp_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  transform: translateY(-45.5%) scale(0);
  transition: all 0.4s ease;
}
.pop_up.active {
  transform: translateY(0%) scale(100%);
  background-color: rgba(0,0,0,0.7);
}
.pop_up_container {
  display: flex;
  width: 100%;
  height: 100%;
}
.pop_up_body {
  margin: auto;
  max-width: 700px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 50px;
  position: relative;
}
.popup_title {
  font-family: "Nunito Sans", sans-serif;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #2b2b2b;
}
.content {
  width: inherit;
}
.content_name {
  width: 100%;
  min-height: 50px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid #d3d3d3;
  margin-bottom: 10px;
  padding-left: 10px;
}
.content_tel {
  width: 100%;
  min-height: 50px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid #d3d3d3;
  margin-bottom: 10px;
  padding-left: 10px;
}
.content_description {
  min-height: 150px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid #d3d3d3;
  resize: vertical;
  padding-left: 10px;
}
.content_mail {
  width: 100%;
  min-height: 50px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  outline: 1px solid #d3d3d3;
  margin-bottom: 10px;
  padding-left: 10px;
}
.send_director {
  background: #2c75ff;
  padding: 7px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}
.send_director:hover {
  background: #2c41ff;
}
.pop_up_close {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: #2b2b2b;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.header_container_top_box_1_contact {
  width: 500px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_top_box_1_contact_box_1 {
  width: 66px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_top_box_1_contact_box_2 {
  width: 162px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.header_container_top_box_1_contact_box_2_tel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: inherit;
  height: 19px;
}
.header_container_top_box_1_contact_box_2_tel>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
}
.header_container_top_box_1_contact_box_2_tel_d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: inherit;
  height: 19px;
  margin-bottom: 6px;
}
.header_container_top_box_1_contact_box_2_tel_d>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.header_container_top_box_1_contact_box_3 {
  display: flex;
  flex-wrap: wrap;
  width: 245px;
  height: 50px;
}
.header_container_top_box_1_contact_box_3>p {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
strong {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #cecece;
}
.header_container {
  width: 1725px;
  height: inherit;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_container_top {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 153px;
}
.header_container_top_box_1 {
  width: 564px;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
}
.header_container_top_box_1_items {
  width: inherit;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_top_box_1_items>p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.header_container_top_box_1_items>a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.header_container_top_box_1_items>a:hover {
  text-decoration: underline;
}
.header_container_top_box_2 {
  display: flex;
  justify-content: center;
  width: 300px;
  height: inherit;
}
.header_container_top_box_2>img {
  height: 122px;
}
.header_container_top_box_3 {
  width: 544px;
  height: inherit;
}
.header_container_top_box_3_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_top_box_3_items>a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.arrow_down {
  margin-left: 3px;
}
.search_box_main {
  width: inherit;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.search_box_main_container {
  display: flex;
}
.search_box_main_container>a {
  margin-left: 20px;
}
.search_form {
  position: relative;
}
.search_form_search {
  width: 338px;
  height: 54px;
  border-radius: 40px;
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
  padding: 0 10px;
  outline: none;
  border: none;
  background: #f5f5f5;
  padding-left: 22px;
  font-size: 16px;
}
.search_form_search_img {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 5%;
  right: 3%;
}
.search_form_search::placeholder {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  padding-left: 3px;
}
.header_container_bottom_1 {
  width: 100%;
  min-height: 56px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.header_container_bottom_1_allBrands {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_bottom_1_allBrands>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  color: #2b2b2b;
  display: flex;
  align-items: center;
}
.header_container_bottom_1_allBrands>a>img {
  width: 10px;
  height: 10px;
  margin-left: 6px;
  margin-right: 54px;
}
.header_container_bottom_1_allBrands>a:last-child {
  margin-top: 4px;
}
.header_container_bottom_1_alphabet>a {
  margin-right: 48px;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  color: #2b2b2b;
}
.header_container_bottom_1_alphabet>a:last-child {
  margin: 0;
}
.header_container_bottom_1>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  color: #2b2b2b;
}
.header_container_bottom_1>a:last-child {
  margin-top: 4px;
}
.header_container_bottom_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}
.header_container_bottom_2_item-left {
  width: 656px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_bottom_2_item-left>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  font-size: 15px;
  line-height: 21px;
  text-decoration: none;
  color: #2b2b2b;
}
.header_container_bottom_2_item-right {
  max-width: 564px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_bottom_2_item-right>a {
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  color: #2c75ff;
}
.header_container_bottom_2_item-right>a>img {
  margin-right: 5px;
  height: 27px;
}
.header_container_bottom_2_item-right>a:first-child {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  font-size: 15px;
  line-height: 21px;
  color: #2b2b2b;
  margin-right: 36px;
}
.header_container_bottom_2_item-right>a:nth-child(2) {
  margin-right: 33px;
}
.section_1 {
  width: inherit;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_1_container {
  width: 1725px;
  height: inherit;
  margin: 0 auto;
}
.section_1_container>strong {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.section_1_container>a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  font-weight: 400;
}
.section_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.section_2_container {
  width: 1725px;
  display: flex;
}
.section_2_sidebar {
  max-width: 425px;
  align-items: normal;
  justify-content: center;
}
.section_2_sidebar_container {
  max-width: 325px;
  min-height: inherit;
  border-right: 1px solid #cecece;
  padding-right: 40px;
}
.section_2_sidebar_container_box_1 {
  max-width: inherit;
  min-height: 161px;
  border-bottom: 1px solid #cecece;
}
.section_2_sidebar_container_box_1_p1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 282px;
  min-height: 31px;
  margin-top: 13px;
}
.section_2_sidebar_container_box_1_p1>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.section_2_sidebar_container_box_1_p1>a>span {
  color: #c4c4c4;
  margin-left: 8px;
}
.section_2_sidebar_container_box_1_p2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 272px;
  min-height: 36px;
  margin-top: 13px;
  border-radius: 3px;
}
.section_2_sidebar_container_box_1_p2_a {
  max-width: 131px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background: #f5f5f5;
  padding: 0 10px;
}
.section_2_sidebar_container_box_1_p2_a>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.section_2_sidebar_container_box_1_p2_a>a>span {
  color: #c4c4c4;
  margin-left: 8px;
}
.section_2_sidebar_container_box_1_p2_b {
  max-width: 131px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 3px;
  padding: 0 10px;
}
.section_2_sidebar_container_box_1_p2_b>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.section_2_sidebar_container_box_1_p2_b>a>span {
  color: #c4c4c4;
  margin-left: 8px;
}
.section_2_sidebar_container_box_2 {
  max-width: 282px;
  min-height: 191px;
  border-bottom: 1px solid #cecece;
}
.section_2_sidebar_container_box_2_h1 {
  width: inherit;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.section_2_sidebar_container_box_2_h1>strong {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.section_2_sidebar_container_box_2_h1>a {
  color: #2c75ff;
  text-decoration: none;
}
.section_2_sidebar_container_box_2_h1_a {
  mxa-width: 282px;
  min-height: 21px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_2_sidebar_container_box_2_h1_a>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  line-height: 19px;
}
.section_2_sidebar_container_box_2_h1_a>a:hover {
  text-decoration: underline;
}
.section_2_sidebar_container_box_2_h1_a>p {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  color: #959595;
  line-height: 19px;
}
.section_2_sidebar_container_box_3 {
  max-width: 282px;
  min-height: 233px;
  border-bottom: 1px solid #cecece;
}
.section_2_sidebar_container_box_3_h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  min-height: 31px;
  margin-top: 15px;
}
.section_2_sidebar_container_box_3_h1>strong {
  color: #2b2b2b;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.section_2_sidebar_container_box_3_h1>a {
  text-decoration: none;
  color: #c4c4c4;
}
.section_2_sidebar_container_box_3_check {
  max-width: 282px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  line-height: 19px;
  color: #959595;
}
.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: left;
  max-width: 200px;
  margin-left: 30px;
  color: #2b2b2b;
  cursor: pointer;
}
.check_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.check_input:checked + .check_box {
  background-image: url("@/img/check_box_checked.png");
  background-size: cover;
}
.check_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border: 1px solid #cecece;
  background-image: url("@/img/check_box_1.png");
  margin-left: -30px;
  margin-right: 15px;
}
.check_box>p {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  font-weight: 400;
}
.section_2_sidebar_container_box_3_next {
  width: inherit;
  min-height: 25px;
  margin-top: 19px;
}
.section_2_sidebar_container_box_3_next>a {
  text-decoration: none;
  color: #2c75ff;
}
.section_2_sidebar_container_box_4 {
  width: inherit;
  height: 164px;
  border-bottom: 1px solid #cecece;
}
.section_2_sidebar_container_box_4_price-h1 {
  width: inherit;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.section_2_sidebar_container_box_4_price-h1_a1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 115px;
  height: 25px;
}
.section_2_sidebar_container_box_4_price-h1_a1>strong {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.section_2_sidebar_container_box_4_price-h1_a1>p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  padding-left: 3px;
}
.section_2_sidebar_container_box_4_price-h1>a {
  text-decoration: none;
  color: #c4c4c4;
}
.section_2_sidebar_container_box_4_min-max_price {
  width: inherit;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}
.section_2_sidebar_container_box_4_min-max_price_MIN-MAX {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  width: 127px;
  height: 41px;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.section_2_sidebar_container_box_4_min-max_price_range {
  width: inherit;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  margin-top: 15px;
}
.section_2_sidebar_container_box_4_min-max_price_range_slide-container {
  width: 282px;
}
.slider {
  width: 282px;
  height: 2px;
}
.section_2_sidebar_container_box_5 {
  width: inherit;
  height: 365px;
  border-bottom: 1px solid #cecece;
}
.section_2_sidebar_container_box_5_color_h1 {
  width: inherit;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 15px;
}
.section_2_sidebar_container_box_5_color_h1>strong {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
.section_2_sidebar_container_box_5_color_h1>p {
  color: #c4c4c4;
}
.section_2_sidebar_container_box_5_color_h1_d {
  width: 120px;
  height: 39px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 28px;
}
.section_2_sidebar_container_box_5_color_h1_d>a {
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  line-height: 19px;
  margin-left: 6px;
}
.section_2_sidebar_container_box_5_color_h1_d>a:hover {
  color: #2c75ff;
}
.section_2_sidebar_container_box_5_color_h1_d:hover {
  background: #f5f5f5;
}
.rectangle_white {
  width: 25px;
  height: 25px;
  border: 1px solid #cecece;
  border-radius: 50%;
  margin-left: 11px;
  background: #fff;
}
.rectangle_black {
  width: 25px;
  height: 25px;
  border: 1px solid #cecece;
  border-radius: 50%;
  margin-left: 11px;
  background: #000;
}
.rectangle_blue {
  width: 25px;
  height: 25px;
  border: 1px solid #cecece;
  border-radius: 50%;
  margin-left: 11px;
  background: #2c75ff;
}
.rectangle_beige {
  width: 25px;
  height: 25px;
  border: 1px solid #cecece;
  border-radius: 50%;
  margin-left: 11px;
  background: #e3a77e;
}
.rectangle_red {
  width: 25px;
  height: 25px;
  border: 1px solid #cecece;
  border-radius: 50%;
  margin-left: 11px;
  background: #ce0d2d;
}
.rectangle_gray {
  width: 25px;
  height: 25px;
  border: 1px solid #cecece;
  border-radius: 50%;
  margin-left: 11px;
  background: #727272;
}
.section_2_sidebar_container_box_6 {
  width: inherit;
  min-height: 361px;
}
.section_2_sidebar_container_box_6_items {
  width: inherit;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
}
.section_2_sidebar_container_box_6_items>strong {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.section_2_sidebar_container_box_6_items>a {
  display: flex;
  align-items: center;
}
.section_2_sidebar_container_box_6_items>img {
  width: 14px;
  color: #c4c4c4;
}
.section_2_sidebar_container_box_7 {
  width: inherit;
  height: 50px;
  margin-top: 26px;
}
.section_2_sidebar_container_box_7_button {
  width: inherit;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background: #2c75ff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  padding-left: 3px;
  line-height: 20px;
  color: #fff;
}
.section_2_sidebar_container_box_7_button>span {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.section_2_content {
  max-width: 1351px;
  margin-left: 44px;
}
.section_2_content_box_1 {
  width: inherit;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_2_content_box_1_title {
  width: inherit;
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  line-height: 41px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #2b2b2b;
  opacity: 32%;
}
.section_2_content_box_1_text {
  width: inherit;
  height: 110px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-weight: 300;
  margin-top: 23px;
  color: #2b2b2b;
}
.section_2_content_box_2 {
  width: inherit;
  min-height: 266px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
}
.section_2_content_box_2_container_1 {
  max-width: 889px;
  height: inherit;
}
.section_2_content_box_2_container_2 {
  max-width: 427px;
  height: inherit;
}
.section_2_content_box_3 {
  width: inherit;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 43px;
}
.section_2_content_box_3>a {
  width: 160px;
  height: 41px;
  background: #f5f5f5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  line-height: 18px;
  color: #2b2b2b;
  margin-right: 19px;
}
.section_2_content_box_3>a:last-child {
  margin-right: 0;
}
.section_2_content_box_3>a:nth-child(3n-3) {
  width: 96px;
  height: 41px;
  background: #f5f5f5;
}
.section_2_content_box_4 {
  width: inherit;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 43px;
}
.section_2_content_box_4_line {
  width: 676px;
  height: 1px;
  background: #cecece;
}
.section_2_content_box_4_category {
  width: 204px;
  height: 41px;
  border: 1px solid #c4c4c4;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.section_2_content_box_4_category>img {
  margin-left: 3px;
  margin-top: -3px;
}
.section_2_content_box_4_settings {
  width: 428px;
  height: 41px;
  display: flex;
}
.section_2_content_box_4_settings_col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 214px;
  height: 41px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.03;
  text-decoration: none;
  color: #fff;
  background: #2b2b2b;
  border-radius: 40px 0 0 40px;
}
.section_2_content_box_4_settings_col>span {
  font-weight: 700;
}
.section_2_content_box_4_settings_prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 214px;
  height: 41px;
  border: 1px solid #cecece;
  border-radius: 0 40px 40px 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.03;
  text-decoration: none;
  color: #2b2b2b;
}
.section_2_content_box_4_settings_prod>span {
  font-weight: 700;
}
.section_2_content_box_5 {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_2_content_box_5_card {
  width: 427px;
  margin-top: 43px;
}
.section_2_content_box_5_card_dom_1 {
  width: inherit;
  height: 31px;
  display: flex;
}
.section_2_content_box_5_card_dom_1_a {
  width: 50px;
  height: inherit;
  background: #2c75ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #fff;
  justify-content: center;
}
.section_2_content_box_5_card_dom_1_b {
  width: 84px;
  height: inherit;
  background: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #fff;
}
.section_2_content_box_5_card_dom_1_c {
  width: 52px;
  height: inherit;
  background: #cecece;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #2c75ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.section_2_content_box_5_card_dom_2 {
  width: inherit;
  height: 359px;
}
.section_2_content_box_5_card_dom_3 {
  width: inherit;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  margin-bottom: 20px;
}
.section_2_content_box_5_card_dom_3>a {
  color: #2c75ff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-left: 21px;
  display: flex;
  align-items: center;
}
.section_2_content_box_5_card_dom_3>a>img {
  width: 8px;
  height: 5px;
  margin-right: 7px;
}
.section_2_content_box_5_card_dom_3_left-box {
  width: 163px;
  height: inherit;
  background: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #fff;
}
.section_2_content_box_5_card_dom_3_left-box>img {
  margin-bottom: 1px;
}
.section_2_content_box_5_card_dom_4 {
  width: inherit;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #2b2b2b;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-left: 21px;
}
.section_2_content_box_5_card_dom_5 {
  width: inherit;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_2_content_box_5_card_dom_5_style {
  width: 142px;
  height: 37px;
  margin-left: 21px;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.section_2_content_box_5_card_dom_5_style>span {
  font-weight: 700;
}
.section_2_content_box_5_card_dom_5_medal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 116px;
  height: 51px;
  margin-right: 86px;
}
.section_2_content_box_5_card_dom_5_medal>img {
  width: 51px;
  height: 51px;
}
.section_2_content_box_5_card_dom_6 {
  width: inherit;
  height: 50px;
  display: flex;
  margin-top: 22px;
}
.section_2_content_box_5_card_dom_6_a {
  width: 263px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #2b2b2b;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-left: 21px;
}
.section_2_content_box_5_card_dom_6_a>span {
  font-weight: 700;
}
.section_2_content_box_5_card_dom_6_b {
  width: 164px;
  height: 51px;
  border: 1px solid #cecece;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  color: #2b2b2b;
  color: #2b2b2b;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.section_2_content_box_6 {
  width: inherit;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  margin-top: 64px;
}
.section_2_content_box_6>a {
  width: 155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.section_2_content_box_6>a>img {
  width: 18px;
}
.section_2_content_box_7 {
  width: inherit;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  margin-top: 49px;
}
.section_2_content_box_7_container {
  width: 355px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_2_content_box_7_container_arrow {
  width: 42px;
  height: 42px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_2_content_box_7_container_arrow:hover {
  background: #2c75ff;
  border: 1px solid transparent;
}
.section_2_content_box_7_container_pagination {
  width: 47px;
  height: 47px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  text-decoration: none;
}
.section_2_content_box_7_container_pagination:hover {
  background: #f5f5f5;
  color: #2c75ff;
}
.section_2_content_box_8 {
  width: inherit;
  height: 1px;
  background: #cecece;
  margin-top: 102px;
}
.section_2_content_box_9 {
  width: inherit;
  height: 317px;
  margin-top: 81px;
}
.section_2_content_box_9>h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  margin-bottom: 25px;
}
.section_2_content_box_9>p {
  width: 878px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.footer {
  width: 100%;
  margin-top: 112px;
}
.footer_bottom {
  width: inherit;
  background: #2b2b2b;
  padding: 34px 0;
}
.footer_bottom_container {
  max-width: 1725px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_bottom_container_box_1 {
  max-width: 529px;
  height: inherit;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer_bottom_container_box_1_content {
  width: inherit;
  border-right: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
  padding-right: 59px;
}
.footer_bottom_container_box_1_content>a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
  margin-left: 35px;
}
.footer_bottom_container_box_1_content>img {
  margin-right: 58px;
}
.footer_bottom_container_box_2 {
  width: 500px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_bottom_container_box_2_content {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
}
.footer_bottom_container_box_2_content>a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
  text-decoration: none;
}
.footer_bottom_container_box_3 {
  max-width: 666px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  border-left: 1px solid #c4c4c4;
  padding-left: 45px;
}
.footer_bottom_container_box_3_content {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #c4c4c4;
}
.footer_bottom_container_box_3_content_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 332px;
  height: inherit;
  margin-left: 15px;
}
.footer_bottom_container_box_3_content_logo_box_1 {
  width: 131px;
  height: 22px;
  border-right: 2px solid #c4c4c4;
}
.footer_bottom_container_box_3_content_logo_box_2 {
  width: 201px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 9px;
  margin-left: 10px;
  line-height: 13px;
  text-transform: uppercase;
}
.footer_container {
  max-width: 1725px;
  height: inherit;
  border-top: 1px solid #c4c4c4;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 63px 0;
}
.footer_container_table_one {
  width: 300px;
}
.footer_container_table_one>a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.footer_container_table_one>a:first-child {
  margin-bottom: 18px;
}
.box_socseti {
  margin-top: 32px;
}
.box_socseti>a {
  margin-right: 16px;
}
.address {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
  padding-left: 3px;
  margin-top: 30px;
}
.address>span {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  letter-spacing: 0.05em;
}
.hours {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #2b2b2b;
}
.footer_container_table_two {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer_container_table_two>p {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.footer_container_table_two>a {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2b2b2b;
}
.footer_container_table_three {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer_container_table_three>p {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.footer_container_table_three>a {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2b2b2b;
}
.footer_container_table_four {
  width: 300px;
}
.footer_container_table_four_soc_seti_2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2b2b2b;
}
.footer_container_table_four_soc_seti_2_img {
  display: flex;
  align-items: center;
}
.footer_container_table_four_soc_seti_2_img>a {
  margin-right: 31px;
}
.footer_container_table_four_pay {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2b2b2b;
  margin-top: 45px;
}
