*
  padding 0
  margin 0
  box-sizing border-box
.main_wrapper
  width 1920px
  height 4278px
  //border 1px dashed red
.header_container_top_box_1_contact
  width 500px
  height 70px
  //border 1px solid black
  display flex
  align-items center
  justify-content space-between
  &_box_1
    width 66px
    height 30px
    //border 1px solid black
    display flex
    align-items center
    justify-content space-between
  &_box_2
    width 162px
    height 50px
    //border 1px solid black
    display flex
    flex-direction column
    justify-content space-between
    &_tel
      display flex
      justify-content center
      align-items center
      width inherit
      height 19px
      //border 1px solid black
      &>a
        text-decoration none
        font-family 'Nunito Sans', sans-serif
        font-weight 700
        font-size 14px
        line-height 19px
        letter-spacing 0.05em
        color #2C75FF
      &_d
        display flex
        justify-content center
        align-items center
        width inherit
        height 19px
        margin-bottom 6px
        //border 1px solid black
        &>a
          text-decoration none
          font-family 'Nunito Sans', sans-serif
          font-weight 400
          font-size 13px
          line-height 17px
          letter-spacing 0.03em
          color #2B2B2B
  &_box_3
    display flex
    flex-wrap wrap
    width 245px
    height 50px
    //border 1px solid black
    &>p
      font-family 'Nunito Sans', sans-serif
      font-weight 400
      font-size 13px
      line-height 17px
      letter-spacing 0.03em
      color #2B2B2B
      display inline-block
strong
  font-family 'Nunito Sans', sans-serif
  font-weight 700
  font-size 13px
  line-height 18px
  letter-spacing 0.03em
.header
  position relative
  width 100%
  height 265px
  border-bottom 1px solid #CECECE
  &_container
    width 1725px
    height inherit
    margin 0 auto
    //border 1px dashed red
    display flex
    flex-direction column
    justify-content space-between
    &_top
      display flex
      justify-content space-between
      width inherit
      height 153px
      //border 1px solid black
      &_box_1
        width 564px
        height inherit
        //border 1px solid green
        display flex
        flex-wrap wrap
        &_items
          width inherit
          height 25px
          display flex
          align-items center
          justify-content space-between
          //border 1px solid black
          &>p
            font-family 'Nunito Sans', sans-serif
            font-weight 400
            font-size 13px
            line-height 18px
            font-style normal
            color #2B2B2B
          &>a
            font-family 'Nunito Sans', sans-serif
            font-style normal
            font-weight 700
            font-size 13px
            line-height 18px
            color #2B2B2B
            text-decoration underline
      &_box_2
        display flex
        justify-content center
        width 300px
        height inherit
        //border 1px solid green
        &>img
          height 122px
.header_container_top_box_3
  width 544px
  height inherit
  //border 1px solid green
  &_items
    display flex
    justify-content space-between
    &>a
      font-family 'Nunito Sans', sans-serif
      font-weight 400
      font-size 13px
      line-height 18px
      color #2B2B2B
      text-decoration none
.arrow_down
  margin-left 3px
.search_box_main
  width inherit
  height 85%
  display flex
  align-items center
  justify-content center
  &_container
    display flex
    &>a
      margin-left  20px
.search_form
  position relative
  &_search
    width 338px
    height 54px
    border-radius 40px
    //border 1px solid white
    display inline-block
    font-family 'Nunito Sans', sans-serif
    padding: 0 10px
    outline none
    border none
    background #F5F5F5
    padding-left 22px
    font-size 16px
    &_img
      position absolute
      width 45px
      height 45px
      top 5%
      right 3%
.search_form_search::placeholder
  font-family 'Nunito Sans', sans-serif
  font-size 16px
  font-weight: 400
  line-height 22px
  letter-spacing 0.03em
  color #2B2B2B
  padding-left 3px
.header_container_bottom_1
  position absolute
  top 152px
  left 0
  width 1920px
  height 56px
  //border 1px solid black
  background  #F5F5F5
  &_sub
    width 1725px
    height 56px
    //border 1px solid green
    margin 0 auto
.header_container_bottom_2
    display flex
    justify-content space-between
    align-items center
    height 56px
    //border 2px solid red
    &_item-left
      //border 1px solid black
      width 656px
      display flex
      justify-content space-between
      &>a
        font-size 15px
        font-family 'Nunito Sans', sans-serif
        font-weight 700
        line-height 21px
        letter-spacing 0.03em
        text-decoration none
        color #2B2B2B
.header_container_bottom_2_item-right
    width 564px
    display flex
    align-items center
    justify-content space-between
    &>a
      display flex
      align-items center
      font-family 'Nunito Sans', sans-serif
      font-style normal
      font-weight 700
      font-size 13px
      line-height 18px
      color #2C75FF
      letter-spacing 0.03em
      text-decoration none
      &>img
        margin-right 5px
        height 27px
.header_container_bottom_2_item-right a:first-child
  font-size 15px
  font-family 'Nunito Sans', sans-serif
  font-weight 700
  line-height 21px
  text-decoration none
  color #2B2B2B

//------------------------section_1----------------------------

.section_1
  width 100%
  height 75px
  //border 1px solid black
  &_container
    margin 0 auto
    width 1725px
    height inherit
    //border 1px solid black
    display flex
    align-items center
    &>strong
      font-family 'Nunito Sans', sans-serif
      font-weight 700
      font-size 13px
      line-height 18px
      letter-spacing 0.03em
      color #2B2B2B
    &>a
      font-family 'Nunito Sans', sans-serif
      font-weight 400
      font-size 13px
      line-height 18px
      letter-spacing 0.03em
      color #2B2B2B
      text-decoration none

//------------------------section_2----------------------------

.section_2
  width 100%
  height 2708px
  //border 1px solid black
  display flex
  &_sidebar
    width 425px
    height 1560px
    border-right 1px solid #CECECE
    display flex
    justify-content center
    &_container
      width 282px
      height inherit
      //border 1px solid black
      margin-left 50px
      &_box_1
        width inherit
        height 161px
        border-bottom 1px solid #CECECE
        &_p1
          display flex
          align-items center
          justify-content space-between
          width 282px
          height 31px
          //border 1px solid black
          margin-top 13px
          &>a
            text-decoration none
            font-family 'Nunito Sans', sans-serif
            font-weight 400
            font-size 14px
            line-height 18px
            letter-spacing 0.03em
            color #2B2B2B
            &>span
              color #C4C4C4
        &_p2
          display flex
          justify-content space-between
          width 272px
          height 36px
          //border 1px solid black
          margin-top 13px
          border-radius 3px
          &_a
            width 131px
            height 35px
            //border 1px solid black
            display flex
            align-items center
            justify-content center
            background #F5F5F5
            &>a
              text-decoration none
              font-family 'Nunito Sans', sans-serif
              font-weight 400
              font-size 13px
              line-height 17px
              letter-spacing 0.03em
              color #2B2B2B
              &>span
                color #C4C4C4
          &_b
            width 131px
            height 35px
            //border 1px solid black
            display flex
            align-items center
            justify-content center
            background #F5F5F5
            border-radius 3px
            &>a
              text-decoration none
              font-family 'Nunito Sans', sans-serif
              font-weight 400
              font-size 13px
              line-height 17px
              letter-spacing 0.03em
              color #2B2B2B
              &>span
                color #C4C4C4
.section_2_sidebar_container_box_2
  width 282px
  height 191px
  border-bottom 1px solid #CECECE
  &_h1
    width inherit
    height 31px
    //border 1px dashed black
    display flex
    justify-content space-between
    align-items center
    margin-top 15px
    &>strong
      font-family 'Nunito Sans', sans-serif
      font-size 16px
      font-weight 700
      line-height 22px
      letter-spacing 0.03em
    &>a
      color #2C75FF
      text-decoration none
    &_a
      width 282px
      height 21px
      //border 1px dashed black
      margin-top 10px
      display flex
      justify-content space-between
      align-items center
      &>a
        color #2B2B2B
        font-family 'Nunito Sans', sans-serif
        font-weight 400
        font-size 14px
        line-height 19px
        letter-spacing 0.03em
      &>p
        text-decoration none
        color #959595
        font-family 'Nunito Sans', sans-serif
        font-weight 400
        font-size 14px
        line-height 19px
        letter-spacing 0.03em
.section_2_sidebar_container_box_3
  width 282px
  height 233px
  border-bottom 1px solid #CECECE
  &_h1
    display flex
    justify-content space-between
    align-items center
    width inherit
    height 31px
    margin-top 15px
    &>p
      color #2B2B2B
      font-family 'Nunito Sans', sans-serif
      font-weight 700
      font-size 16px
      line-height 22px
      letter-spacing 0.03em
    &>a
      text-decoration none
      color #C4C4C4
.section_2_sidebar_container_box_3_check
  width 282px
  height 24px
  //border 1px solid black
  display flex
  align-items center
  justify-content space-between
  margin-top 10px
  &>label
    display flex
    justify-content flex-start
    width 125px
    //border 1px solid black
    &>p
      margin-left 14px
      color #2B2B2B
      font-family 'Nunito Sans', sans-serif
      font-weight 400
      font-size 14px
      line-height 19px
      letter-spacing 0.03em
  &>p
    text-decoration none
    color #959595
    font-family 'Nunito Sans', sans-serif
    font-weight 400
    font-size 14px
    line-height 19px
    letter-spacing 0.03em
.section_2_sidebar_container_box_3_next
  width inherit
  height 25px
  //border 1px solid black
  margin-top 19px
  &>a
    text-decoration none
    color #2C75FF



.section_2_sidebar_container_box_4
  width inherit
  height 164px
  border-bottom 1px solid #CECECE
  &_price-h1
    width inherit
    height 31px
    display flex
    align-items center
    justify-content space-between
    //border 1px solid black
    margin-top 15px
    &_a1
      display flex
      align-items center
      justify-content space-between
      width 115px
      height 25px
      //border 1px solid black
      &>strong
        font-family 'Nunito Sans', sans-serif
        font-size 16px
        font-weight 700
        line-height 22px
        letter-spacing 0.03em
      &>p
        font-family 'Nunito Sans', sans-serif
        font-size 16px
        font-weight 400
        line-height 22px
        letter-spacing 0.03em
        color #2B2B2B
    &>a
      text-decoration none
      color #C4C4C4
  &_min-max_price
    width inherit
    height 41px
    //border 1px solid black
    display flex
    justify-content space-between
    align-items center
    margin-top 7px
    &_MIN-MAX
      width 127px
      height 41px
      border 1px solid #C4C4C4
      border-radius 20px
      display flex
      align-items center
      justify-content center
.section_2_sidebar_container_box_4_min-max_price_range
  width inherit
  height 40px
  //border 1px solid black
  display flex
  justify-content center
  align-items center
  margin-top 15px
  &_slide-container
    width 282px
.slider
  width 282px
  height 2px



.section_2_sidebar_container_box_5
  width inherit
  height 312px
  border-bottom 1px solid #CECECE
  &_color_h1
    width inherit
    height 31px
    display flex
    justify-content space-between
    align-items center
    margin-bottom 12px
    &>strong
      font-family 'Nunito Sans', sans-serif
      font-weight 700
      font-size 16px
      line-height 22px
      letter-spacing 0.03em
    &>p
      color #C4C4C4
    &_a
      width 108px
      height 39px
      background #F5F5F5
      border-radius 28px
      display flex
      align-items center
      &>p
        margin-left 6px
        color #2B2B2B
        font-family 'Nunito Sans', sans-serif
        font-weight 400
        font-size 14px
        line-height 19px
        letter-spacing 0.03em
    &_b
      width 108px
      height 39px
      display flex
      align-items center
      &>p
        margin-left 6px
        color #2B2B2B
        font-family 'Nunito Sans', sans-serif
        font-weight 400
        font-size 14px
        line-height 19px
        letter-spacing 0.03em
    &_beige
      width 126px
      height 39px
      border-radius 28px
      background #F5F5F5
      display flex
      align-items center
      &>span
        margin-left 6px
        font-family 'Nunito Sans', sans-serif
        font-weight 400
        font-size 14px
        line-height 19px
        letter-spacing 0.03em
        color #2C75FF
.rectangle_white
  width 25px
  height 25px
  border 1px solid #CECECE
  border-radius 50%
  background white
  margin-left 11px
.rectangle_black
  width 25px
  height 25px
  border-radius 50%
  background black
  margin-left 11px
.rectangle_blue
  width 25px
  height 25px
  border-radius 50%
  background #2C75FF
  margin-left 11px
.rectangle_beige
  width 25px
  height 25px
  border-radius 50%
  background #E3A77E
  margin-left 11px
.rectangle_red
  width 25px
  height 25px
  border-radius 50%
  background #CE0D2D
  margin-left 11px
.rectangle_gray
  width 25px
  height 25px
  border-radius 50%
  background #727272
  margin-left 11px



.section_2_sidebar_container_box_6
  width inherit
  height 361px
  &_items
    width inherit
    height 51px
    display flex
    align-items center
    justify-content space-between
    border-bottom 1px solid #CECECE
    &>img
      width 14px
      color #C4C4C4



.section_2_sidebar_container_box_7
  width inherit
  height 50px
  //border 1px solid black
  &_button
    width inherit
    height 50px
    //border 1px solid black
    display flex
    align-items center
    justify-content center
    text-decoration none
    background #2c75ff
    margin-top 26px
    box-shadow 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    &>p
      color white
      font-family 'Nunito Sans', sans-serif
      font-weight 400
      font-size 16px
      line-height 20px
      letter-spacing 0.03em
    &>span
      color white
      font-family 'Nunito Sans', sans-serif
      font-weight 700
      font-size 16px
      line-height 20px
      letter-spacing 0.03em


.section_2_content
  width 1351px
  height 2932px
  border 1px solid black
  margin-left 44px
